nav a{
  margin: 0 20px;
  text-decoration: none;
}
nav a.active{
  text-decoration: underline;
  font-size: larger;
}

.main-screen{
  display: flex;
  gap: 130px;
  
}

.user-card{
  padding: 20px;
  border: 2px solid black;
  margin-bottom: 20px;
  border-radius: 20px;
}

.user-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
